<html>
        <%- include('../../partials/authenticated_navbar.ejs') %>
    <script>
        function passCourseName(input_url){
            var courseName = "<%= course %>";
            var params = new URLSearchParams();
            params.append("courseKey", courseName);
            var url= input_url + "?" + params.toString();
            location.href=url;
        }
        //function that displays things differently between a prof and a ta
        function displayForUser(){
            var utype = "<%= userTypes %>".toString();
            if(utype == "ta,student"){ 
                //do nothing
            }
            else{
                document.getElementById("only-prof").style.display="block";
                document.getElementById("only-prof2").style.display="block";
                document.getElementById("only-prof3").style.display="block";
            }
        }
    </script>
    <% var successMsg; var errorMsg; %>
    <body onload="displayForUser()">
        <main role="main">
			<section class="jumbotron text-center">
				<div class="container">
					<h1 class="jumbotron-heading"><%= `TA Management for ${course}`%></h1>
			</section>
            <% if(successMsg) { %>
                <div
                    class="alert alert-success alert-dismissible fade show container"
                    role="alert"
                >
                    <strong>Success!</strong><%= ` ${successMsg}` %>
                    <button
                        type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <% } %>
                <% if(errorMsg) { %>
                    <div
                        class="alert alert-danger alert-dismissible fade show container"
                        role="alert"
                    >
                        <strong>Operation failed.</strong><%= ` ${errorMsg}` %>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="alert"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <% } %>
                    <div class="album py-5 bg-light">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card mb-4 shadow-sm">
                                        <a onclick = "passCourseName('/ta-management/office-hours-and-responsibilities')">
                                            <img
                                            class="card-img-top"
                                            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                            alt="Thumbnail [100%x225]"
                                            style="
                                                height: 225px;
                                                width: 100%;
                                                display: block;
                                                padding: 1.5vw;
                                            "
                                            src="../../images/person-lines-fill.svg"
                                            data-holder-rendered="true"
                                            />
                                        </a>
                                        <div class="card-body">
                                            <p class="card-text">
                                                <a a onclick = "passCourseName('/ta-management/office-hours-and-responsibilities')" style="color:#212529">
                                                Define office hours, office location, and duties of a Prof/TA.
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-4" id="only-prof" style="display: none;">
                                    <div class="card mb-4 shadow-sm">
                                        <a onclick = "passCourseName('/ta-management/performance-log')">
                                            <img
                                            class="card-img-top"
                                            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                            alt="Thumbnail [100%x225]"
                                            style="
                                                height: 225px;
                                                width: 100%;
                                                display: block;
                                                padding: 1.5vw;
                                            "
                                            src="../../images/pencil-fill.svg"
                                            data-holder-rendered="true"
                                            />
                                        </a>
                                        <div class="card-body">
                                            <p class="card-text">
                                                <a onclick = "passCourseName('/ta-management/performance-log')" style="color:#212529">
                                                Write about a TA's performance.
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" id="only-prof2" style="display: none;">
                                    <div class="card mb-4 shadow-sm">
                                        <a onclick = "passCourseName('/ta-management/wish-list')">
                                            <img
                                            class="card-img-top"
                                            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                            alt="Thumbnail [100%x225]"
                                            style="
                                                height: 225px;
                                                width: 100%;
                                                display: block;
                                                padding: 1.5vw;
                                            "
                                            src="../../images/clipboard-heart.svg"
                                            data-holder-rendered="true"
                                            />
                                        </a>
                                        <div class="card-body">
                                            <p class="card-text">
                                                <a onclick = "passCourseName('/ta-management/wish-list')" style="color:#212529">
                                                Make a TA wish list.
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="card mb-4 shadow-sm">
                                        <a href="/ta-management/course-search">
                                            <img
                                            class="card-img-top"
                                            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                            alt="Thumbnail [100%x225]"
                                            style="
                                                height: 225px;
                                                width: 100%;
                                                display: block;
                                                padding: 1.5vw;
                                            "
                                            src="../../images/arrow-left-square.svg"
                                            data-holder-rendered="true"
                                            />
                                        </a>
                                        <div class="card-body">
                                            <p class="card-text">
                                                <a href="/ta-management/course-search" style="color:#212529">
                                                Switch to another course.
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
        </main>
    </body>
</html>
