<html>
	<%- include('../../partials/dashboard/sysop_dashboard.ejs') %>
    <script>
        function handleDeleteUserClick(username) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "POST", "/account/remove", false );
            xmlHttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            xmlHttp.send(`username=${username}`);
        }
    </script>
    <body>
        <div class="main-body-container">
            <h3 class="text-center">All user matches</h3>
            <table class="table container" style="margin-top:2vw">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Username</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">McGill ID</th>
                    <th scope="col">User Types</th>
                    <th scope="col">Associated Courses</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                    <% for(let user of users) { %>
                  <tr>
                    <td style="vertical-align: middle;"><%= user.username %></td>
                    <td style="vertical-align: middle;"><%= user.firstName %></td>
                    <td style="vertical-align: middle;"><%= user.lastName %></td>
                    <td style="vertical-align: middle;"><%= user.email %></td>
                    <td style="vertical-align: middle;"><%= user.mcGillId %></td>
                    <td style="vertical-align: middle;"><%= user.userTypes.toString() %></td>
                    <td style="vertical-align: middle;"><%= user.registeredCourses.toString() %></td>
                    <td><button class="btn btn-outline-secondary">Edit</button></td>
                    <td><button onClick="handleDeleteUserClick('<%= user.username %>')" class="btn btn-outline-danger">Delete</button></td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
        </div>
    </body>
</html>