<!DOCTYPE html>

<html>
    <%- include('../../partials/authenticated_navbar.ejs') %>
    <body>
        <div class="main-body-container">
            <h3 class="text-center">You selected
                <%= ta.TA_name %>
            </h3>
            <h4 style="width: 100%; text-align: center">Cohort</h4>
            <table class="table container" style="margin-top: 2vw">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">term month year</th>
                        <th scope="col">TA name</th>
                        <th scope="col">student ID</th>
                        <th scope="col">email</th>
                        <th scope="col">priority</th>
                        <th scope="col">grad ugrad</th>
                    </tr>
                </thead>
                <tbody class="container">
                    <tr>
                        <td style="vertical-align: middle">
                            <%= ta.term_month_year %>
                        </td>
                        <td style="vertical-align: middle">
                            <%= ta.TA_name %>
                        </td>
                        <td style="vertical-align: middle">
                            <%= ta.student_ID %>
                        </td>
                        <td style="vertical-align: middle">
                            <%= ta.email %>
                        </td>
                        <td style="vertical-align: middle">
                            <%= ta.priority %>
                        </td>
                        <td style="vertical-align: middle">
                            <%= ta.grad_ugrad %>
                        </td>
                    </tr>
                </tbody>

                <tbody class="container"></tbody>
            </table>
            <h4 style="width: 100%; text-align: center">Student rating average</h4>
            <p style="width: 100%; text-align: center">
                <%= ta.rating %>
            </p>
            <h4 style="width: 100%; text-align: center">Performance</h4>
            <table class="table container" style="margin-top: 2vw">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Comment</th>
                        <th scope="col">Course Name</th>
                        <th scope="col">Prof ID</th>
                    </tr>
                </thead>
                <% for(let performance of performances) { %>

                    <tbody class="container">
                        <tr>
                            <td style="vertical-align: middle">
                                <%= performance.someComment %>
                            </td>
                            <td style="vertical-align: middle">
                                <%= performance.courseName %>
                            </td>
                            <td style="vertical-align: middle">
                                <%= performance.profUsername %>
                            </td>
                        </tr>
                    </tbody>
                    <% }%>
            </table>
            <h4 style="width: 100%; text-align: center">Students Comments</h4>
            <table class="table container" style="margin-top: 2vw">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Comment</th>
                        <th scope="col">Course</th>
                    </tr>
                </thead>
                <% for(let comment of comments) { %>
                    <tbody class="container">
                        <tr>
                            <td style="vertical-align: middle">
                                <%= comment.comment %>
                            </td>
                            <td style="vertical-align: middle">
                                <%= comment.courseName %>
                            </td>
                        </tr>
                    </tbody>
                    <% }%>
            </table>
            <h4 style="width: 100%; text-align: center">Wish List</h4>
            <table class="table container" style="margin-top: 2vw">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Course Number</th>
                        <th scope="col">Prof first name</th>
                        <th scope="col">Prof last name</th>
                    </tr>
                </thead>
                <% for(let wish of wishList) { %>
                    <tbody class="container">
                        <tr>
                            <td style="vertical-align: middle">
                                <%= wish.courseName %>
                            </td>
                            <td style="vertical-align: middle">
                                <%= wish.profFN %>
                            </td>
                            <td style="vertical-align: middle">
                                <%= wish.profLN %>
                            </td>
                        </tr>
                    </tbody>
                    <% }%>
            </table>

            <h4 style="width: 100%; text-align: center">TA Courses Assignments</h4>
            <table class="table container" style="margin-top: 2vw">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Course</th>
                        <th scope="col">TA</th>
                    </tr>
                </thead>
                <% for(let entity of registered) { %>
                    <tbody class="container">
                        <tr>
                            <td style="vertical-align: middle">
                                <%= entity.courseName %>
                            </td>
                            <td style="vertical-align: middle">
                                <%= entity.TA_name %>
                            </td>
                        </tr>
                    </tbody>
                    <% }%>
            </table>
        </div>
    </body>

</html>